:root {
    --icon-text-color-light: #FFFFFF;
    --icon-text-color-dark: #CCCCCC;
    --output-label-color: black;
    --button-color-light: black;
    --button-color-dark: #2B2B2B;
    --disabled-button-bg-light: #DFDFDF;
    --disabled-button-text-light: #FFFFFF;
    --disconnected-color-light: #DFDFDF;
    --disabled-button-bg-dark: #111111;
    --disabled-button-text-dark: #000;
    --disconnected-color-dark: #111111;
    --background-color-light: #F4F4F4;
    --background-color-dark: #191919;
    --text-color-dark: #CCCCCC;
    --border-color-light: #e0e0e0;
    --border-color-dark: #202020;
}

body, img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

img {
    pointer-events: none;
}

.container, .connection-container, .title-container, .footer-container, .output-container {
    width: 100%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.connection-container, .footer-container {
    padding: 15px;
    background-color: var(--background-color-light);
    border: none;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.title-container {
    background-color: #000;
    color: var(--icon-text-color-light);
    padding: 20px;
}

.output-container {
    border: 1px solid var(--border-color-light);
    padding: 15px 0;
    background-color: #FFFFFF;
}

.dark-theme {
    --icon-text-color: var(--icon-text-color-dark);
    --button-color: var(--button-color-dark);
    --disabled-button-bg: var(--disabled-button-bg-dark);
    --disabled-button-text: var(--disabled-button-text-dark);
    --disconnected-color: var(--disconnected-color-dark);
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

.disconnected-label, .disconnected-icon, .btn-floating .material-symbols-outlined, .on-off-btn {
    color: var(--icon-text-color);
}

.btn-black-theme, .btn-floating:disabled {
    background-color: var(--button-color) !important;
    color: var(--disabled-button-text) !important;
}

.btn-floating:disabled .material-symbols-outlined {
    color: var(--disabled-button-text) !important;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

.col.s1, .col.s11 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col.s1 { flex: 1; }
.col.s11 { flex: 11; justify-content: space-evenly; }

.btn-floating {
    cursor: pointer !important;
    transition: transform 0.2s;
}

@media (hover: hover) {
    .btn-floating:hover {
        transform: scale(1.05);
    }
}

.btn-floating:active, .btn-floating.active {
    transform: scale(0.9);
}

@media screen and (min-width: 850px) {
    .outputs-row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;
    }

    .column {
        width: 50%;
        padding: 0 10px;
        box-sizing: border-box;
    }

    .output-container { margin-bottom: 20px; }
}

html { visibility: visible; opacity: 1; }

.no-transition * {
    transition: none !important;
    animation: none !important;
}
